/*----------FONTE-------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*----------VARIÁVEIS GLOBAIS-------------*/
:root {
  --cor-primaria: #6b73ff;
  --cor-primaria-escura: #4e56d6;
  --cor-bg: #f5f7fa;
  --cor-branco: #ffffff;
  --cor-borda: #ddd;
  --cor-sombra: rgba(0, 0, 0, 0.15);
  --cor-texto: #333;

  --fonte: 'Roboto', sans-serif;

  --raio: 12px;
  --transition: 0.3s ease;
}

/*----------RESET CSS-------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------- BODY ---------- */
body {
  font-family: var(--fonte);
  background: var(--cor-primaria);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}